<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="./style.css" rel="stylesheet">

<div class="drawer">

    <header>
      <button class="play-btn"></button>
      <p class="message"></p>

      <div class="dice-roll">
        <div class="opponent"></div>
        <div class="dice-rolling"></div>
        <div class="dice-score"></div>
        <div class="dice-result"></div>
      </div>

    </header>

    <main class="board">
      <div class="cell circle"></div>
      <div class="cell cross"></div>
      <div class="cell circle"></div>
      <div class="cell cross"></div>
      <div class="cell circle"></div>
      <div class="cell"></div>
      <div class="cell cross"></div>
      <div class="cell cross"></div>
      <div class="cell"></div>
    </main>

    <footer class="scores hide">

      <div>
        <span></span>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div>
        <span></span>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

    </footer>

  </div>
  <script src="./script.js"></script>